#messageBox{
	width:300px;
	margin:0px auto;
	padding:40px 0;
}
#scrolling{
	float:left;
	height:400px;
	overflow:auto; overflow-x:hidden;
}
#messageBox > div > p{
	background:#eee;
	color:#666;
	font-family:Arial, sans-serif; font-size:0.75em;
	padding:5px; margin:0;
	text-align:rightright;
}

